
@{
    ViewBag.Title = "Criar Pokémon";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Criar Pokémon</h2>

<form>
    <div class="form-group">
        <label>Nome</label>
        <input type="text" class="form-control" placeholder="Inserir o nome">
    </div>
    <div class="form-group">
        <label>Imagem</label>
        <input type="text" class="form-control" placeholder="Caminho da imagem">
        <small id="fileHelp" class="form-text text-muted">O caminho da imagem deve ser no padrão "~/Content/images/001.png".</small>
    </div>
  
    <div class="form-group">
        <label for="exampleSelect1">Tipo de Pokémon</label>
        <select class="form-control" id="exampleSelect1">
            <option>Elétrico</option>
            <option>Grama</option>
            <option>Fogo</option>
        </select>
    </div>
    <button type="button" class="btn">Voltar</button>
    <button type="submit" class="btn btn-primary">Salvar</button>
</form>