
@{
    ViewBag.Title = "Excluir Pokémon";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Excluir Pokémon</h2>

<form>
    <div class="form-group">
        <img src="http://assets.pokemon.com/assets/cms2/img/pokedex/detail/025.png" class="img-rounded">
    </div>
    <div class="form-group">
        <label>Nome: Pikachu</label>
    </div>
    <div class="form-group">
        <label>Possui Pokémon: Sim</label>
    </div>
    <div class="form-group">
        <label>Tipo de Pokémon: Elétrico</label>
    </div>
    <button type="submit" class="btn btn-primary">Excluir</button>
</form>
